* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}
/* ? HEADER */
#cabecera {
  width: 100%;
}
#pantalla {
  width: 200px;
  height: 50px;
  margin-left: 100px;
  background-color: transparent;
  float: left;
}
#logo {
  position: absolute;
  width: 30%;
  height: 60px;
  float: left;
  background-color: #48e120;
  z-index: -1;
}
#img-logo {
  display: block;
  width: 140px;
  margin: auto;
  margin-left: 25%;
  padding-top: 8px;
  z-index: 1 !important;
}

#header {
  display: block;
  float: right;
  width: 72%;
  height: 0px;
  border-left: 50px solid transparent;
  border-bottom: 60px solid #31211f;
  z-index: 1;
  line-height: 60px;
}
#header li {
  display: block;
  float: left;
  padding-right: 45px;
}
#header li:first-child {
  margin-left: 35%;
}
#header a {
  color: white;
  text-decoration: none;
  font-weight: 20px;
}

.clear-fix {
  float: none;
  clear: both;
}
/* ? TITULOS */
#titulo-1,
#titulo-2 {
  display: block;
  width: 30%;
  text-align: center;
  background-color: #48e120;
  margin: 20px auto 30px auto;
  padding: 5px;
  font-size: 18px;
}

#titulo-2 {
  width: 40%;
  margin-top: 40px;
}

/*? CATEGORIAS INDEX */
#categorias-cajas {
  width: 85%;
  height: 300px;
  margin: auto;
  margin-bottom: 50px;
}
#categoria1,
#categoria2,
#categoria3 {
  overflow: hidden;
  float: left;
  width: 300px;
  height: 300px;
  background-color: antiquewhite;
  opacity: 50%;
}

#categoria1:hover,
#categoria2:hover,
#categoria3:hover {
  color: white;
  opacity: 100%;
  transition: opacity 0.5s;
}

#categoria3 {
  float: right;
}
#categoria2 {
  margin-left: 180px;
  margin-right: 175px;
}
#ciclistaH {
  width: 500px;
  height: 300px;
  margin-left: -85px;
}
#categoria1 h1,
#categoria2 h1,
#categoria3 h1 {
  display: block;
  position: absolute;
  width: 20%;
  margin: 200px auto;
  text-align: center;
}

#categoria1 a,
#categoria2 a,
#categoria3 a {
  color: white;
}

#ciclistaM {
  width: 300px;
}
#ciclistaN {
  width: 400px;
  height: 300px;
  margin-left: -50px;
}

/*? SLIDE AUTOMATICO */
.swiper-container {
  position: relative !important;
  width: 85%;
  height: 250px;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: rgb(92, 92, 92);

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
/* ? FOOTER */
#footer {
  width: 100%;
  height: 250px;
  padding: 25px 0px 25px 0px;
  background-color: #31211f;
}
#footer h1 {
  font-size: 20px;
}
#footer p {
  font-size: 14px;
  margin-top: 20px;
}
#redes {
  float: left;
  margin-left: 100px;
  width: 250px;
  height: 150px;
  font-size: 10px;
  color: white;
}
#redes a {
  color: white;
  font-size: 15px;
  text-decoration: none;
}

#direccion {
  float: left;
  margin-left: 200px;
  width: 250px;
  height: 150px;
  color: white;
}
#descripcion {
  overflow: hidden;
  margin-left: 300px;
  float: left;
  width: 300px;
  height: 220px;
  color: white;
}
#instagram-icono,
#facebook-icono,
#whatsapp-icono {
  margin-right: 5px;
  margin-top: 10px;
}
#copy {
  width: 100%;
  color: white;
  text-align: center;
}
#copy a {
  color: #48e120;
}
