* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}
/* ? HEADER */
#cabecera {
  width: 100%;
}
#pantalla {
  width: 200px;
  height: 50px;
  margin-left: 100px;
  background-color: transparent;
  float: left;
}
#logo {
  position: absolute;
  width: 30%;
  height: 60px;
  float: left;
  background-color: #48e120;
  z-index: -1;
}
#img-logo {
  display: block;
  width: 140px;
  margin: auto;
  margin-left: 25%;
  padding-top: 8px;
  z-index: 1 !important;
}

#header {
  display: block;
  float: right;
  width: 72%;
  height: 0px;
  border-left: 50px solid transparent;
  border-bottom: 60px solid #31211f;
  z-index: 1;
  line-height: 60px;
}
#header li {
  display: block;
  float: left;
  padding-right: 45px;
}
#header li:first-child {
  margin-left: 35%;
}
#header a {
  color: white;
  text-decoration: none;
  font-weight: 20px;
}

.clear-fix {
  float: none;
  clear: both;
}

/* ? UBICACIÓN LOGO - LE GIRO SPORT*/

#logo-nosotros {
  display: block;
  width: 100%;
  height: 100px;

  margin: auto;
  margin-top: 50px;
}
#logo-nosotros img {
  display: block;
  margin: auto;
}

/* ? TITULO ENCUENTRANOS EN NUESTRA TIENDA*/

#ubicacion {
  width: 80%;
  height: 100%;
  margin: auto;
}

#direccionf h1 {
  width: 70%;
  height: 100%;
  margin: 40px auto 40px auto;
  text-align: center;
  background-color: #48e120;
  padding: 5px;
  font-size: 35px;
}
/* ? IFRAME DEL MAPA*/

#direccionf iframe {
  float: left;
}

/* ? DESCRIPCIÓN DE LA DIRECCIÓN*/

#direccion-parrafo {
  width: 30%;
  height: 100%;
  float: left;
  margin-left: 180px;
  font-size: 17px;
}
#direccion-parrafo h3 {
  color: #48e120;
  margin-bottom: 10px;
}
#direccion-parrafo p:nth-child(2),
p:nth-child(4),
p:nth-child(6) {
  color: rgb(105, 105, 105);
}
#direccion-parrafo p:nth-child(3),
p:nth-child(5) {
  margin-bottom: 50px;
}

/* ? TITULO REDES SOCIALES*/
#redes-sociales h1 {
  margin-top: 100px;
}
#redes-sociales {
  margin-left: 5%;
  width: 80%;
  margin-bottom: 200px;
}

/* ? REDES SOCIALES FACEBOOK*/

#facebook {
  height: 100%;
  width: 30%;
  float: left;
}
#instagram {
  float: right;
  width: 30%;
  height: 100%;
  margin-bottom: 100px;
}

/* ? REDES SOCIALES TITULOS*/

#facebook h2 {
  width: 325px;
  display: block;
  background-color: #3869d1;
  color: white;
  padding: 8px;
  margin-bottom: 20px;
}
#instagram h2 {
  width: 325px;
  display: block;
  background: linear-gradient(to right, #405de6, #833ab4, #e1306c, #fcaf45);
  color: white;
  padding: 8px;
  margin-bottom: 20px;
}

/* ? CLIENTES CARRUSEL */

#titulo-3 {
  width: 50%;
  height: 100%;
  margin: 40px auto 40px auto;
  text-align: center;
  background-color: #48e120;
  padding: 5px;
  font-size: 35px;
}
.container {
  width: 80%;
  margin: auto;
  margin-bottom: 50px;
}
.slick-slide {
  margin: 0 20px;
}
.slick-slide img {
  width: 100%;
}
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
}
.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
.slick-slide img {
  display: block;
}
.slick-initialized .slick-slide {
  display: block;
}

.slide p {
  text-align: center;
  font-size: 12px;
}

/* ? FOOTER */
#footer {
  width: 100%;
  height: 250px;
  padding: 25px 0px 25px 0px;
  background-color: #31211f;
}
#footer h1 {
  font-size: 20px;
}
#footer p {
  font-size: 14px;
  margin-top: 20px;
}
#redes {
  float: left;
  margin-left: 100px;
  width: 250px;
  height: 150px;
  font-size: 10px;
  color: white;
}
#redes a {
  color: white;
  font-size: 15px;
  text-decoration: none;
}

#direccion {
  float: left;
  margin-left: 200px;
  width: 250px;
  height: 150px;
  color: white;
}
#descripcion {
  overflow: hidden;
  margin-left: 300px;
  float: left;
  width: 300px;
  height: 220px;
  color: white;
}
#instagram-icono,
#facebook-icono,
#whatsapp-icono {
  margin-right: 5px;
  margin-top: 10px;
}
#copy {
  width: 100%;
  color: white;
  text-align: center;
}
#copy a {
  color: #48e120;
}
